<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303724634550-o0o9955af6u3jn2q2fd6in4e100l84kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303724634550-o0o9955af6u3jn2q2fd6in4e100l84kc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>303724634550-qg0cf3nigq53tdtomuu5hrq16ae52c2d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpM3pFVx1glXvF4cu08STQ_qkN6uOlNzA</string>
	<key>GCM_SENDER_ID</key>
	<string>303724634550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.createsapp.Instagram-Clone-With-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>qresturantadmin</string>
	<key>STORAGE_BUCKET</key>
	<string>qresturantadmin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303724634550:ios:4049806e54fd8c8dcea117</string>
	<key>DATABASE_URL</key>
	<string>https://qresturantadmin.firebaseio.com</string>
</dict>
</plist>